security:
  # 1. Sistema de encriptación
  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

  # 2. Proveedores
  providers:
    sonata_user_bundle:
      id: sonata.user.security.user_provider

  # 3. Firewalls
  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    # Firewall Admin
    admin:
      pattern: ^/admin
      lazy: true
      provider: sonata_user_bundle
      context: main
      # ACTIVAR IMPERSONATION AQUÍ TAMBIÉN
      switch_user: { role: ROLE_ALLOWED_TO_SWITCH } # <<<< CORREGIDO
      form_login:
        login_path: sonata_user_admin_security_login
        check_path: sonata_user_admin_security_check
        default_target_path: sonata_admin_dashboard
      logout:
        path: sonata_user_admin_security_logout
        target: sonata_user_admin_security_login

    # Firewall Main (Web pública)
    main:
      lazy: true
      provider: sonata_user_bundle
      context: main
      # ACTIVAR IMPERSONATION (Vital para que funcione el 'acceder como')
      switch_user: { role: ROLE_ALLOWED_TO_SWITCH } # <<<< CORREGIDO
      form_login:
        login_path: app_login
        check_path: app_login
        default_target_path: app_home
      logout:
        path: app_logout
        target: app_home
      remember_me:
        secret:   '%kernel.secret%'
        lifetime: 604800
        path:     /

  # 4. Jerarquía de Roles
  role_hierarchy:
    ROLE_ADMIN: [ROLE_USER, ROLE_SONATA_ADMIN]
    ROLE_SUPER_ADMIN: [ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]
    
    # Tu rol personalizado (Correcto)
    ROLE_EDITOR_BLOG:
      - ROLE_USER
      - ROLE_SONATA_ADMIN # Permite ver el dashboard básico
      - ROLE_APP_ADMIN_PUBLICACION_ADMIN_LIST
      - ROLE_APP_ADMIN_PUBLICACION_ADMIN_VIEW
      - ROLE_APP_ADMIN_PUBLICACION_ADMIN_CREATE
      - ROLE_APP_ADMIN_PUBLICACION_ADMIN_EDIT

  # 5. Control de Acceso
  access_control:
    # Rutas públicas
    - { path: ^/(_locale)/login, roles: PUBLIC_ACCESS }
    - { path: ^/(_locale)/register, roles: PUBLIC_ACCESS }
    - { path: ^/(_locale)/resetting, roles: PUBLIC_ACCESS }
    - { path: ^/admin/login, roles: PUBLIC_ACCESS }
    - { path: ^/admin/logout, roles: PUBLIC_ACCESS }

    # Regla estricta para configuración de empresa
    - { path: ^/admin/app/empresa, roles: ROLE_SUPER_ADMIN }

    # --- CAMBIO IMPORTANTE AQUÍ ---
    # Permitimos entrar al admin a cualquiera que tenga ROLE_SONATA_ADMIN.
    # Esto incluye a Admins, Super Admins Y a tu Editor de Blog.
    # Sonata se encargará luego de ocultar los menús que no pueden tocar.
    - { path: ^/admin/, roles: ROLE_SONATA_ADMIN } # <<<< CORREGIDO (Antes ROLE_ADMIN)

    # Zona usuarios
    - { path: ^/(_locale)/usuario, roles: ROLE_USER }