<div id="tkmCuerpo">
    <div id="productoGrid">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="padding-right: 15px; text-align: right">

                <select name="orden" id="sort-by-select" class="form-control"
                        style="font-family: FontAwesome, Helvetica, sans-serif;">

                    {# MIGRACIÓN: La opción 'selected' ahora se basa en el objeto 'filtros' que viene del controlador #}
                    <option value="Orden Por Defecto" {% if filtros.orden == "Orden Por Defecto" %}selected{% endif %}>
                        Orden Por Defecto
                    </option>
                    <option value="Precio Adulto ASC" {% if filtros.orden == "Precio Adulto ASC" %}selected{% endif %}>
                        Precio Adulto de menor a mayor
                    </option>
                    <option value="Precio Adulto DESC"
                            {% if filtros.orden == "Precio Adulto DESC" %}selected{% endif %}>
                        Precio Adulto de mayor a menor
                    </option>
                    <option value="Precio ASC" {% if filtros.orden == "Precio ASC" %}selected{% endif %}>
                        Precio de menor a mayor
                    </option>
                    <option value="Precio DESC" {% if filtros.orden == "Precio DESC" %}selected{% endif %}>
                        Precio de mayor a menor
                    </option>
                    <option value="Nombre ASC" {% if filtros.orden == "Nombre ASC" %}selected{% endif %}>
                        Nombre A-Z
                    </option>
                    <option value="Nombre DESC" {% if filtros.orden == "Nombre DESC" %}selected{% endif %}>
                        Nombre Z-A
                    </option>
                </select>
            </div>
        </div>
        <div>
            {% for producto in modelos %}
                {% include 'web/catalog/_productoElementoGrid.html.twig' %}
            {% endfor %}

            <div class="col-xs-12">
                {% if npaginas is defined %}
                    {% include 'web/partials/_pagination.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>


    {% if busqueda is defined %}
        {% if not is_granted('ROLE_ADMIN') %}
            <script>
                fbq('track', 'Search', {search_string: "{{ busqueda }}"});
                ga('send', 'pageview', '/search_results.php?q={{ busqueda }}');
            </script>
        {% endif %}
    {% endif %}

    <script>
        //funcion para modificar la imagen del grid de productos en funcion al color que se le haga hover
        $('.cuadro-color-grid').hover(function () {
            var imagen = $(this).data('imagen');
            var id = $(this).data('modelo');
            $('#' + id).attr("src", imagen);
        }, function () {
            var id = $(this).data('modelo');
            var imagen = $('#' + id).data('imagen');
            $('#' + id).attr("src", imagen);
        });


        const sortSelect = document.getElementById('sort-by-select');
        if (sortSelect) {
            sortSelect.addEventListener('change', function () {
                const currentUrl = new URL(window.location.href);
                const sortValue = this.value;

                // Establecemos el parámetro 'orden' en la URL
                currentUrl.searchParams.set('orden', sortValue);

                // Reseteamos la paginación a la página 1
                currentUrl.searchParams.delete('page');

                // Recargamos la página con la nueva URL
                window.location.href = currentUrl.toString();
            });
        }
    </script>