{# templates/admin/button_edit_as_cart.html.twig #}
<li>
    <a href="{{ admin.generateUrl('editarPedido', {'id': object.id}) }}" target="_blank">
        <i class="fa fa-shopping-cart"></i> Editar como Carrito
    </a>
</li>