{# templates/admin/button_show_proforma.html.twig #}
<li>
    <a href="{{ admin.generateUrl('showProforma', {'id': object.id}) }}" target="_blank">
        <i class="fa fa-file-o"></i> Proforma
    </a>
</li>
