{# templates/admin/button_show_pdf.html.twig #}
<li>
    <a href="{{ admin.generateUrl('showPDF', {'id': object.id}) }}" target="_blank">
        <i class="fa fa-file-pdf-o"></i> Presupuesto
    </a>
</li>
