{# templates/admin/button_facturar.html.twig #}
<li>
    <a href="{{ admin.generateUrl('facturar', {'id': object.id}) }}" target="_blank">
        <i class="fa fa-file-text-o"></i> Crear Factura
    </a>
</li>
