{# templates/admin/button_recalculate.html.twig #}
<li>
    <a href="{{ admin.generateUrl('recalcular', {'id': object.id}) }}">
        <i class="fa fa-calculator"></i> Recalcular Totales
    </a>
</li>
