{# templates/admin/button_ver_etiqueta.html.twig #}
<li>
    <a href="{{ admin.generateUrl('verEtiquetas', {'id': object.id}) }}" target="_blank">
        <i class="fa fa-barcode"></i> Ver Etiqueta
    </a>
</li>
