{# templates/admin/button_show_orden_pedido.html.twig #}
<li>
    <a href="{{ admin.generateUrl('showOrdenPedido', {'id': object.id}) }}" target="_blank">
        <i class="fa fa-barcode"></i> Orden de Pedido
    </a>
</li>