{# templates/admin/button_show_factura.html.twig #}
<li>
    <a href="{{ admin.generateUrl('showFactura', {'id': object.id}) }}" target="_blank">
        <i class="fa fa-file-text"></i> Ver Factura
    </a>
</li>
