{% extends "SSTiendaBundle:Web:indexTemplate.html.twig" %}

{% block title %}Presupuesto Confirmado{% endblock %}
{% block metaDescription %}Confirmación del presupuesto{% endblock %}

{% block contenedor %}
    <div class="row" style="background-color: white;">
        <div class="col-lg-12">
            <div class="border_gris" style="margin-bottom: 40px">
                <div class="" style="padding: 20px;">
                    <h1 class="titulo">{% trans %}HEMOS RECIBIDO TU SOLICITUD{% endtrans %}</h1>
                    <p class="fecha"></p>
                    <div class="texto">{% trans %}Gracias por enviarnos tus datos de contacto, en estos momentos
                            nuestro departamento de recursos humanos está revisando su solicitud, Nos pondremos en contacto en la mayor brevedad posible.{% endtrans %}</div>
                </div>
                <br>
                <br>
                <div style="text-align: right; border-top: 1px dashed #515151;">
                    <br>
                    <br>
                    <a href="{{ path('ss_tienda_home') }}" style="text-align: right;"
                       class="btn btn-default check_out">{% trans %}Volver a la web{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}