{# templates/admin/CRUD/list_action_show_rectificativa_pdf.html.twig #}
<a class="btn btn-sm btn-default" title="Ver PDF de la Factura Rectificativa" href="{{ admin.generateObjectUrl('showFacturaRectificativa', object) }}" target="_blank">
    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
    Ver PDF
</a>