{# templates/admin/CRUD/list__action_ver_productos.html.twig #}
<a href="{{ admin.generateObjectUrl('ver_productos', object) }}" class="btn btn-sm btn-default view_link" title="Ver Productos">
    <i class="fa fa-cubes" aria-hidden="true"></i> Ver Productos
</a>