{# templates/admin/CRUD/list_action_showFactura.html.twig #}
<li><a class="sonata-action-element" href="{{ admin.generateObjectUrl('creaRectificativa', object) }}"><i class="fa fa-files-o" aria-hidden="true"></i>Crear Rectificativa</a></li>
