{# src/AppBundle/Resources/views/CRUD/list__action_clone.html.twig #}

<li><a class="sonata-action-element" href="{{ admin.generateObjectUrl('showFacturaFactura', object) }}" target="_blank"><i class="fa fa-files-o" aria-hidden="true"></i> Ver PDF</a></li>
<li><a class="sonata-action-element" href="{{ admin.generateObjectUrl('creaRectificativa', object) }}"><i class="fa fa-files-o" aria-hidden="true"></i>Crear Rectificativa</a></li>
