{# templates/reset_password/email.html.twig #}
{# Esta es una plantilla de email muy básica. Puedes personalizarla con el diseño de tu marca. #}
<p>Hola,</p>

<p>
    Hemos recibido una solicitud para restablecer la contraseña de tu cuenta en TusKamisetas.com.
    Por favor, haz clic en el siguiente enlace para crear una nueva contraseña:
</p>

{#
MIGRACIÓN NOTA: La función url() genera un enlace completo.
La variable 'resetToken' es pasada automáticamente por el ResetPasswordBundle
a través de nuestro SecurityController.
Necesitaremos crear la ruta 'app_reset_password' en el siguiente paso.
#}
<a href="{{ url('app_reset_password', {token: resetToken.token, _locale: 'es'}) }}">Restablecer mi contraseña</a>

<p>
    Este enlace expirará en {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
</p>

<p>
    Si no has solicitado este reseteo, puedes ignorar este correo de forma segura.
</p>

<p>
    Gracias,<br>
    El equipo de TusKamisetas.com
</p>

